* {
    font-family: "Poppins", "Inter", "Open Sans", sans-serif;
    margin-left: 2rem;
}

.titleHolder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contentHolder {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
}

.leftSide {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width:50%;
    height:50%;
}

.imageContainer{
    position: absolute;
    top:8em;
    left:2rem;
    bottom:2rem;
}

.imageContainer img{
    position: absolute;
    top:0;
    left:0;
}

.leftSide .imageContainer img {
    width: fit-content;
    height: 30rem;
}

.leftSide .imageContainer #eyesImage{
    z-index: 2;
}

.leftSide .imageContainer #mouthImage{
    z-index: 1;
}

.leftSide .imageContainer #accessoriesImage{
    z-index: 2;
}

.leftSide .imageContainer #hairImage{
    z-index: 1;
}

.buttonContainer {
    position: absolute;
    top: 40rem;
    left: 7rem;
    display: flex;
    flex-direction: row;

}

.buttonContainer div{
    align-items: center;
    justify-content: center;
    gap: 2rem;
}


.rightSide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    max-width:50%;
}

.accessoriesHolder {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap-reverse;
    max-width: 80%;
}

.accessoriesHolder div {
    flex-direction: row;
    flex: 1 1 auto;
}

.btn {
    text-align: center;
    font-size: 0.9em;
    font-weight: 500;
    padding: 0.5rem 0.8rem;
    flex: 1 1 auto;
    width: 8rem;
    border-radius: 45px;
    border: 0.1rem solid;
    border-color: #265bff;
}

.btn p {
    margin: 0;
    padding: 0;
}

#alpacaStyle {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80%;
    flex-wrap: wrap;
    gap: 2rem;
}

#alpacaStyle div {
    flex-direction: row;
    flex: 1 1 auto;
}

.holder {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.holder div {
    flex-direction: row;
    flex: 1 1 auto;
}